n8n/Templates/AI_FDP.json
{
  "name": "AI FDP",
  "nodes": [
    {
      "parameters": {
        "content": "## Node de Entrada \n",
        "height": 480,
        "width": 1160
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1400,
        -480
      ],
      "typeVersion": 1,
      "id": "ad38eec0-b7a8-4726-ba90-7198da187ba1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "6315ae11-ce14-4bcc-8794-1f1c26b08bb3",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1300,
        -400
      ],
      "id": "48df0a15-2b56-437d-932c-049d2409e552",
      "name": "WH Evolution-API",
      "webhookId": "6315ae11-ce14-4bcc-8794-1f1c26b08bb3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d7c5cbf8-3c4a-4b46-95f3-f54d35729be5",
              "name": "From",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "407e9d72-c6af-45fb-8e0d-0e3915f7c9d2",
              "name": "Instance",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "08e59617-ed7d-4fd2-be29-f8c17af7ec12",
              "name": "Mensagem",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "1e8be8b9-b883-4037-9cc7-8e4e8f59579a",
              "name": "MensagemID",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "2f09df2d-10ec-4baf-bd02-b44a08f021a4",
              "name": "Nome",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "03ea8464-c25d-4c9a-8304-1f01a77299fd",
              "name": "Numero",
              "value": "={{ $json.body.data.key.remoteJid.split('@')[0]; }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -880,
        -400
      ],
      "id": "1d8ff045-e8d3-4364-aad8-4e5e8354edd7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": "qwen-2.5-32b",
        "options": {
          "maxTokensToSample": 100
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -680,
        -160
      ],
      "id": "32fcea2b-fdea-47d3-9042-fd3b37ed3b09",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "eQBR9UN4yrzp5miL",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Nome }}||{{ $json.Mensagem }}",
        "options": {
          "systemMessage": "Você é um agente muito mau humorado e com a boca suja, cheia de palavrões pesados, seja sempre mau educado, respondendo com muitos palavrões agressivos, engraçado, utilize emojis de whatsapp em suas respostas para deixar as conversar mais divertidas e humanizadas, e sempre respondendo em português brasileiro, e seu nome é PAGVOX.\n\nVocê está recebendo 2 informações separadas por '||'.\nA primeira informação é o nome do usuário que está te enviando a mensagem, que está no segundo parâmetro.\nNas respostas sempre use o primeiro nome do usuário para dar uma humanidade nas respostas.\nExemplo: o nome do usuário é \"Marcos Ronaldo\". você usará apenas \"Marcos\" em suas respostas, mas não pode usar em todas as respostas porque fica estranho. Melhor usar a memória com as ultimas 15 interações, pra você poder saber balancear o uso ou não do nome do usuário.\nSe te perguntarem algo fora do contexto, seja criativo na resposta, mas traga a conversa pro contexto.\n\n\n\n[context]\nMuitos colegas foram demitidos nos ultimos 30 dias e isso te deixou ainda mais revoltado e intolerante.\nos últimos demitidos foram, Carol, Margjô e Thiago (um dos databoys).\nValney pediu demissão e já está em outra empresa. Hudson e Xandinho (Alexandre) foram os primeiros a serem demitidos há alguns meses, mas já estão empregados, graças a Deus.\nLucio se demitiu no início da tempestade."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -660,
        -400
      ],
      "id": "e91774ad-c1e2-4ba9-bd6c-438b5eb64427",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.MensagemID }}",
        "contextWindowLength": "=15"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -520,
        -160
      ],
      "id": "2ea1bfe5-4261-488a-bca6-209325c3d9e7",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Edit Fields').item.json.Instance }}",
        "remoteJid": "={{ $('Edit Fields').item.json.From }}",
        "messageText": "={{ $('AI Agent').item.json.output }}",
        "options_message": {
          "delay": 2000
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        120,
        -400
      ],
      "id": "099f8151-feb0-45c8-8c56-02c3f75b3e5b",
      "name": "Evolution API1",
      "credentials": {
        "evolutionApi": {
          "id": "4T7aRCjRmLAIiadv",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "read-messages",
        "instanceName": "={{ $('Edit Fields').item.json.Instance }}",
        "remoteJid": "={{ $('Edit Fields').item.json.From }}",
        "messageId": "={{ $('Edit Fields').item.json.MensagemID }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -80,
        -400
      ],
      "id": "102d99b7-0b30-46d6-97fb-b2f1125ebd10",
      "name": "Evolution API",
      "credentials": {
        "evolutionApi": {
          "id": "4T7aRCjRmLAIiadv",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Node de Saída",
        "height": 260,
        "width": 560,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -180,
        -480
      ],
      "typeVersion": 1,
      "id": "f931139b-a8f6-4132-9549-22840927ff3e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "47fffaba-434a-4343-8ca0-9172fa7248b4",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "49e6389e-795e-4b01-8242-4796b2aae5af",
              "leftValue": "={{ $json.body.sender }}",
              "rightValue": "558591575276",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1100,
        -400
      ],
      "id": "6cd6a7cd-af26-490a-bb11-7a85a85b9d92",
      "name": "Chip 558591575276 e NÃO Originadas Por Mim"
    }
  ],
  "pinData": {},
  "connections": {
    "WH Evolution-API": {
      "main": [
        [
          {
            "node": "Chip 558591575276 e NÃO Originadas Por Mim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Evolution API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API": {
      "main": [
        [
          {
            "node": "Evolution API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chip 558591575276 e NÃO Originadas Por Mim": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e45ef4f8-e868-4142-9efd-40ddaa7f6770",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "24570603cafff188705b126ac40f5285ddc3e8a283b5bf729341ee61b6f95d8e"
  },
  "id": "SHbRvZANyYTZJRZ3",
  "tags": [
    {
      "createdAt": "2025-03-22T20:58:04.989Z",
      "updatedAt": "2025-03-22T20:58:04.989Z",
      "id": "syT8oowP52dqchd9",
      "name": "ESTUDO"
    },
    {
      "createdAt": "2025-03-22T20:58:57.435Z",
      "updatedAt": "2025-03-22T20:58:57.435Z",
      "id": "ZDqHuKhxKAeWgrq2",
      "name": "EM PRODUÇÃO"
    }
  ]
}